<ion-view title="Carrinho">
	<ion-content padding="'true'" class="has-header">
		<div>
			<p>Total itens ({{total_qty}}) = <strong> R&#x24; {{total_amount.toFixed(2)}}</strong></p>
		</div>
		<button ng-click="checkout()" class="button button-positive button-block ">Check out Produtos</button>
		
		<div ng-repeat="item in cart">
			<div class="list card" >
				<div class="item item-divider">{{item.cart_item_name}}</div>
				<div class="item item-body">
					<img ng-src="{{'img/'+ item.cart_item_image +'.jpg'}}" width="100%" height="auto" style="width: 100%; height: 250px;">
					<form class="list"></form>

					<div>
						<p>{{item.cart_item_qty}} x R&#x24; {{item.cart_item_price}} =
							<strong> R&#x24; {{(item.cart_item_qty * item.cart_item_price).toFixed(2) }}</strong>
						</p>
					</div>

					<div class="button-bar">
						<button ng-click="removeFromCart(item.cart_item_id)" class="button button-assertive button-block button-small icon ion-android-delete"></button>
						<button class="button button-stable button-clear button-block button-small icon ion-plus" ng-click="inc(item.cart_item_id)"></button>
						<button class="button button-stable button-clear button-block button-small">{{item.cart_item_qty}}</button>
						<button class="button button-stable button-clear button-block  icon ion-minus" ng-click="dec(item.cart_item_id)"></button>
					</div>
				</div>

			</div>
		</div>

	</ion-content>
</ion-view>