<ion-view title="Check Out">
    <ion-content padding="'true'" class="has-header">
		<div ng-show="loggedin()" >
			<div class="button-bar">
				<a href="#/page4" class="button button-balanced button-block ">Login</a>
				<a href="#/page5" class="button button-calm button-block ">Registre-se</a>
			</div>
			<div>
				<p></p>
			</div>
		</div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label" style="padding-right:70px;">ID Cliente :</span>
                <textarea placeholder="" style="margin-top:18px" readonly> {{"000"+loggedin_id}} </textarea>
            </label>
            <!-- <label class="item item-input">
                <span class="input-label" style="padding-right:70px;">Nome :</span>
                <textarea placeholder="" style="margin-top:18px"> {{" "+loggedin_name}} </textarea>
            </label> -->
            <label class="item item-input">
                <span class="input-label" style="padding-right:0px">Email :</span>
				<textarea placeholder="" style="margin-top:18px" readonly> {{" "+loggedin_address}} </textarea>
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 15px;"></div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Cupom Promocional</span>
                <input type="text" placeholder="(Optional)">
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 15px;"></div>
        <form class="list">
            <ion-radio>Retirar no Local</ion-radio>
            <ion-radio ng-model='alert' value="0">Entrega a Domicilio</ion-radio>
        </form>
        <button ng-click="showPopup()" class="button button-balanced button-outline button-block ">Check In</button>
    </ion-content>
</ion-view>
