<ion-view title="Editar Perfil">
    <ion-content padding="'true'" class="has-header">
      <ion-list>
    	<ion-item class="item-divider">Detalhes</ion-item>

			<label class="item item-input">
                <span class="input-label">Nome :</span>
				<textarea style="margin-top: 18px" readyonly> {{" "+loggedin_name}} </textarea>
            </label>
			<label class="item item-input">
                <span class="input-label">Telefone :</span>
				<textarea style="margin-top: 18px"> {{" "+loggedin_phone}} </textarea>
            </label>
            <label class="item item-input">
                <span class="input-label">Email :</span>
				<textarea style="margin-top: 18px"> {{" "+loggedin_address}} </textarea>
            </label>
		<div class="button-bar"></div>
			<button ng-click="" class="button button-balanced button-block  icon-left ion-create">Salvar</button>
	        </ion-list>

    </ion-content>
</ion-view>