<ion-view title="Produto">
    <ion-content padding="'true'" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">ID Produto</span>
                    <input type="number" placeholder="" ng-model="data.id">
                </label>
                <label class="item item-input">
                    <span class="input-label">Nome Produto</span>
                    <input type="text" placeholder="" ng-model="data.nome">
                </label>
                <label class="item item-input">
                    <span class="input-label">Categoria</span>
                    <input type="number" placeholder="" ng-model="data.cat">
                </label>
                <label class="item item-input">
                    <span class="input-label">Valor</span>
                    <input type="email" placeholder="" ng-model="data.valor">
                </label>
                <label class="item item-input">
                    <span class="input-label">Img Produto</span>
                    <input type="file" placeholder="" ng-model="data.img">
                </label>
            </ion-list>
            <button ng-click="product" class="button button-balanced button-block" ng-disabled="!data">Cadastrar</button>
        </form>
    </ion-content>
</ion-view>