<ion-view title="Mercados">
    <ion-content padding="'true'" class="has-header" >
        <form class="list">
            <ion-radio ng-model='market' value="1"><img src="img/carrinho.jpg" alt="elo card" style="width:40px;margin-right:40px">Supermercado A</ion-radio>
            <ion-radio ng-model='market' value="2"><img src="img/carrinho.jpg" alt="master card" style="width:40px;margin-right:40px">Supermercado B</ion-radio>
            <ion-radio ng-model='market' value="3"><img src="img/carrinho.jpg" alt="visa card" style="width:40px;margin-right:40px">Supermecado C</ion-radio> 
            <button  ng-click='marketf(market)' class="button button-calm button-block">Proximo</button>
        </form>
    </ion-content>
</ion-view>