<ion-view title="Pagamentos">
    <ion-content padding="'true'" class="has-header">
        <form class="list">	
		 <ion-list>
			<ion-radio ng-model="card" value='c'>Cartão de Crédito</ion-radio>
			<ion-radio ng-model="card" value='d'>Débito Online</ion-radio>
		 </ion-list>
		 <div class="list box">
			<button class="button button-block button-calm" type="submit" ng-click="url(card)">Proximo</button>
		</div>  
        </form>
    </ion-content>
</ion-view>