<ion-view title="Pagamentos">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <ion-radio><img src="img/online/banco_brasil.jpg" alt="" style="width:38px;margin-right:30px">Banco Brasil</ion-radio>
            <ion-radio><img src="img/online/bradesco.jpg" alt="" style="width:40px;margin-right:30px">Bradesco</ion-radio>
            <ion-radio><img src="img/online/itau.png" alt="" style="width:40px;margin-right:30px">Itau</ion-radio>
        </form>
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Agencia</span>
                    <input type="text" placeholder="" ng-model="data.agencia" required/>
                </label>
                <label class="item item-input">
                    <span class="input-label">Conta</span>
                    <input type="number" placeholder="" ng-model="data.conta" required/>
                </label>
                <label class="item item-input">
                    <span class="input-label">Dig. Conta</span>
                    <input type="number" placeholder="" ng-model="data.digito" required/>
                </label>
            </ion-list>
            <button ng-click="showPopup()" class="button button-balanced button-block" ng-disabled="">Finalizar Compras</button>
        </form>
    </ion-content>
</ion-view>