<ion-view title="Perfil">
    <ion-content padding="'true'" class="has-header">
		<ion-list>
          
			<ion-item class="item-divider">Detalhes</ion-item>	
			
			<label class="item item-input">
                <span class="input-label">Cliente id :</span>
				<textarea style="margin-top: 18px" placeholder="" readonly> {{"000"+loggedin_id}} </textarea>
            </label>
			<label class="item item-input">
                <span class="input-label">Nome :</span>
				<textarea style="margin-top: 18px"  placeholder="" readonly> {{" "+loggedin_name}} </textarea>
            </label>
			<label class="item item-input">
                <span class="input-label">Telefone :</span>
				<textarea style="margin-top: 18px" placeholder="" readonly> {{" "+loggedin_phone}} </textarea>
            </label>
            <label class="item item-input">
                <span class="input-label">Email :</span>
				<textarea style="margin-top: 18px" placeholder="" readonly> {{" "+loggedin_address}} </textarea>
            </label>
			
            <label class="item item-input">
                <span class="input-label">Codigo Validação :</span>
                <textarea style="margin-top: 18px" placeholder="" readonly> {{" "+loggedin_pincode}} </textarea>
            </label>
			
		<div class="button-bar">
        </div> 
            <a href="#/page16" class="button button-balanced button-block  icon-left ion-bag">Ir as Compras</a>
			<a href="#/page11" class="button button-calm button-block  icon-left ion-edit">Editar</a>
			<button ng-click="logout()" class="button button-assertive button-block  icon-left ion-log-out">Sair</button>		 
	     </ion-list>
    </ion-content>
</ion-view>
