<ion-view title="Perfil Empresa">
    <ion-content padding="'true'" class="has-header">
		<ion-list>
          
			<ion-item class="item-divider">Detalhes</ion-item>	
			
			<label class="item item-input">
                <span class="input-label">Empresa id :</span>
				<textarea style="margin-top: 18px" placeholder="" readonly> {{"000"+loggedin_idEmpresa}} </textarea>
            </label>
            <label class="item item-input">
                <span class="input-label">CNJP :</span>
				<textarea style="margin-top: 18px" placeholder="" readonly> {{" "+loggedin_cnpf}} </textarea>
            </label>
			<label class="item item-input">
                <span class="input-label">Nome :</span>
				<textarea style="margin-top: 18px"  placeholder="" readonly> {{" "+loggedin_nome}} </textarea>
            </label>
            <label class="item item-input">
                <span class="input-label">Codigo Validação :</span>
                <textarea style="margin-top: 18px" placeholder="" readonly> {{" "+loggedin_pincode}} </textarea>
            </label>
		<div class="button-bar">
        </div>
            <a href="" class="button button-calm button-block  icon-left ion-edit">Inserir Produtos</a>
            <a href="" class="button button-balanced button-block  icon-left ion-bag">Ver Produtos</a>
			<button ng-click="logout()" class="button button-assertive button-block  icon-left ion-log-out">Sair</button>
	        </ion-list>
    </ion-content>
</ion-view>