<ion-view title="Pagamentos">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <ion-radio><img src="img/card/elo_logo.png" alt="elo card" style="width:55px;margin-right:20px">ELO</ion-radio>
            <ion-radio><img src="img/card/visa.png" alt="master card" style="width:40px;margin-right:30px">Visa</ion-radio>
            <ion-radio><img src="img/card/mastercard.png" alt="visa card" style="width:40px;margin-right:30px">MasterCard</ion-radio>
        </form>
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Titular</span>
                    <input type="text" placeholder="" ng-model="data.titular" required/>
                </label>
                <label class="item item-input">
                    <span class="input-label">CPF</span>
                    <input type="number" placeholder="" ng-model="data.cpf" required/>
                </label>
                <label class="item item-input">
                    <span class="input-label">Numero Cartão</span>
                    <input type="number" placeholder="" ng-model="data.card" required/>
                </label>
            </ion-list>
            <label class="item item-input">
                <span class="input-label">Validade</span>
                <input type="number" placeholder="xx / xxxx" ng-model="data.validade" maxlength="7" required/>
            </label>
           <label class="item item-input">
                <span class="input-label">Código Segurança</span>
                <input type="number" placeholder="" ng-model="data.code" required/>
            </label>
            <button ng-click="" class="button button-balanced button-block" ng-disabled="">Finalizar Compras</button>
        </form>
    </ion-content>
</ion-view>
